html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  background-color: #fff;
}

blockquote {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}