@import "normalize.scss";
@import "page.scss";
@import "fonts.scss";
@import "blocks/page-header.scss";
@import "blocks/logo-pink-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/page-main.scss";
@import "blocks/downloads.scss";
@import "blocks/apps.scss";
@import "blocks/advatages.scss";
@import "blocks/reviews.scss";
@import "blocks/rates.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/logo-pink-footer.scss";
@import "blocks/social.scss";
@import "blocks/slider.scss";

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}