.apps {
  margin-bottom: 22px;
}

.apps__list {
  display: flex;
  justify-content: space-around;
  font-size: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

.apps__item {

}

.apps__link {
  display: block;
  width: 47px;
  height: 56px;

}

.apps__link--apstore {
  background: url("../img/logo-apple.svg") no-repeat top left;
  background-size: 47px 56px;
}

.apps__link--googleplay {
  background: url("../img/logo-android.svg") no-repeat center 8px;
  background-size: 43px 47px;
}

.apps__link--windows {
  background: url("../img/logo-microsoft.svg") no-repeat center 12px;
  background-size: 44px 41px;
}

@media (min-width: 960px) {

  .apps {
    margin-bottom: 38px;
  }
}