.contacts {
  margin-bottom: 51px;
}

.contacts__title {
  margin-bottom: 36px;
  font-weight: lighter;
  text-align: center;
  font-size: 24px;
  color: #283645;
}

.contacts__subtitle {
  display: block;
  padding-top: 5px;
}

.contacts__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contacts__item {
  text-align: center;
}

.contacts__item-title {
  color: #283645;
  font-size: 18px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

}

.contacts__item-info {
  display: block;
  color: #d22856;
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 22px;
}

@media (min-width: 660px) {
  .contacts {
    margin-bottom: 0;
  }

  .contacts__title {
    margin-bottom: 45px;
    font-weight: lighter;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: #283645;
  }

  .contacts__subtitle {
    display: block;
    padding-top: 10px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .contacts__item {
    width: 300px;
    text-align: center;
  }

  .contacts__item-title {
    color: #283645;
    font-size: 18px;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;

  }

  .contacts__item-info {
    display: block;
    color: #d22856;
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 50px;
  }
}
@media (min-width: 959px) {
  .contacts {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .contacts__title {
    margin-bottom: 68px;
    font-weight: lighter;
    text-align: center;
    font-size: 50px;
    color: #283645;
  }

  .contacts__subtitle {
    display: block;
    padding-top: 20px;
  }

  .contacts__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .contacts__item {
    text-align: center;
  }

  .contacts__item-title {
    color: #283645;
    font-size: 18px;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

  }

  .contacts__item-info {
    display: block;
    color: #d22856;
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 22px;
  }
}
