.page-footer__logo-link[href]:hover .logo-pink-footer__sign {
  fill: #d22856;
}

.page-footer__logo-link[href]:active .logo-pink-header__svg {
  opacity: 0.3;
}

.logo-pink-footer__star {
  display: none;
}

.logo-pink-header__glasses {
  display: none;
}

.logo-pink-footer__stars {
  display: none;
}
@media (min-width: 660px) {

  .logo-pink-footer__sign {
    fill: #283645;
  }

  .logo-pink-footer__glasses-crop {
    fill: #d22856;
  }

  .logo-pink-footer__glasses {
    fill: #d22856;
  }
}
@media (min-width: 960px) {

  .logo-pink-footer__sign {

  }

  .logo-pink-footer__star {
    display: block;
    fill: #d22856;
  }

  .logo-pink-header__glasses {
    display: none;
  }

  .logo-pink-footer__stars {
    display: block;
    fill: #000;
  }
}