.site-list {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  text-transform: uppercase;
}

.site-list__item {
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0 -1px 0 #000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.site-list__item:last-child {
  box-shadow: 0 -1px 0 #000, inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 #000;
}

.site-list__item a {
  text-decoration: none;
  color: #fff;
}

.site-list a[href]:hover {
  color: #d22856;
}

.site-list a[href]:active {
  color: rgba(210, 40, 86, 0.3);
}



@media (min-width: 960px) {

  .site-list {
    display: flex;
    width: 620px;
    justify-content: space-around;
    font-weight: lighter;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    text-transform: none;
  }

  .site-list__item {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -10px;
        left: 0;
        height: 2px;
        background: #fff;
      }
    }
  }

  .site-list__item:last-child {
    box-shadow: none;
  }
}