.slider__toggle {
  position: relative;
  width: 3px;
  height: 3px;
  border: 3px solid #bec2c7;
  border-radius: 50%;
  cursor: pointer;

}

span.slider__toggle--active {
  width: 12px;
  height: 12px;
  border: 3px solid #283645;
  cursor: default;
}
