.social__link[href]:hover {
  border-color: #283645;
}

.social__link[href]:active {
  opacity: 0.3;
}

@media (min-width: 660px) {
  .social {
    font-size: 0;
    margin-top: 23px;
    margin-left: 70px;
  }

  .social__list {
    display: flex;
    width: 320px;
    margin: 0;
    padding: 0;
    list-style: none;

  }

  .social__link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 51px;
    height: 51px;
    border: 3px solid rgba(40, 54, 69, 0.1);
    border-radius: 50%;
    margin: 5px 6px;
  }

  .social__icon {
    fill: #d22856;
    position: absolute;
  }
  .social__icon--twitter {
    top: 15px;
    left: 14px;
    width: 18px;
    height: 15px;
  }
  .social__icon--facebook {
    top: 12px;
    left: 18px;
    width: 9px;
    height: 19px;
  }
  .social__icon--youtube {
    top: 15px;
    left: 17px;
    width: 15px;
    height: 14px;
  }
}

@media (min-width: 959px) {
  .social {
    margin-left: 230px;
  }
}
